:root{
    --bold: 'Montserrat-Bold', sans-serif;
    --regular: 'Montserrat-Regular', sans-serif;
    --primario: #0246FF;
    --texto: #023D8C;
}

.container-fluid{
    overflow-x: hidden;
}

.nuestros-sitios-SSL{
    background-color: rgba(240, 246, 255, 1);
}

.row {
    padding-left: 155px;
    padding-right: 155px;
}

@media(max-width: 1600px){
    .row {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 900px){
    .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* header */

li{
    font-family: var(--bold);
    color: white;
    font-size: 16px;
}

.whatsapp{
    background: linear-gradient(to left, var(--primario) 50%, #37B646 50%) right;
    background-size: 200%;
    font-family: var(--bold);
    color: white;
    font-size: 16px;
    transition: ease-out .3s;
}

.whatsapp i{
    font-size: 28px;
}

.whatsapp:hover{
    /* background: white;
    color: var(--primario); */
    background-position: left;
    cursor: pointer;
}


/* hero */

h1{
    font-family: var(--bold);
    color: white;
    font-size: 50px;
}

.hero p{
    font-family: var(--bold);
    color: white;
    font-size: 25px;
    line-height: 30px;
}

.btn-primary{
    background: var(--primario);
    font-family: var(--bold);
    color: white;
    font-size: 16px;
    transition: ease-out .5s;
}

.btn-primary:hover{
    background: white;
    font-family: var(--bold);
    color: var(--primario);
    font-size: 16px;
    transition: ease-out .5s;
}

.titulo{
    position: relative;
}

.titulo:before{
    content: '';
    background: #4678BF;
    width: 100%;
    height: 100%;
   position: absolute;
   z-index: 99;
   transform-origin: 100% 0%;
}

@keyframes filter {
    0% {
      filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
  }

.intro{
    animation: 2.5s filter;
    filter: grayscale(0%);
}

.elegir-sitio{
    background: linear-gradient(to left, var(--primario) 50%, white 50%) right;
    background-size: 200%;
}

.elegir-sitio:hover{
    transform: scale(1.2);
    background-position: left;
    cursor: pointer;
    color: var(--primario);
    border: white;
}

.logo-titulo-texto{
    z-index: 99;
    transform: translateY(-150px)
}

@media(max-width: 750px){
    .logo-titulo-texto{
        z-index: 99;
        transform: translateY(-50px)
    }
}


/* seccion principal */
h2{
    font-family: var(--bold);
    font-size: 40px;
    color: var(--texto);
}

h3{
    font-family: var(--bold);
    font-size: 35px;
    color: var(--primario); 
}

.contenido-principal p{
    font-family: var(--regular);
    color: var(--texto);
    font-size: 25px;
    line-height: 30px;
}

.nuestros-sitios-SSL p{
    font-family: var(--regular);
    color: var(--texto);
    font-size: 25px;
    line-height: 30px;
    margin: 0;
}

.estemos-en-contacto span{
    font-family: var(--regular);
    color: var(--texto);
    font-size: 30px;
    line-height: 30px;
}

.contenedor-redes {
    background-color: #D6E6FD;
    border-radius: 5px;
    font-size: 16px;
    color: var(--texto);
    font-family: var(--bold);
    opacity: 0;
    width: 50%;
}

@media(max-width: 1200px){
    .contenedor-redes {
        background-color: #D6E6FD;
        border-radius: 5px;
        font-size: 16px;
        color: var(--texto);
        font-family: var(--bold);
        opacity: 0;
        width: 100%;
    }

    .contenedor-de-contenedor-redes{
        width: 100%;
    }
}

.contenedor-redes i{
    font-size: 41px;
    color: var(--texto);
}


/* formulario */

.estemos-en-contacto form input{
    height: 40px;
    border-radius: 5px;
    background-color: #D6E6FD;
    border: none;
}

.estemos-en-contacto select{
    height: 40px;
    color: var(--texto);
    width: 75%;
    background: #D6E6FD;
    border: none;
    border-radius: 5px;
}

.estemos-en-contacto textarea{
    width: 75%;
    background: #D6E6FD !important;
    border: none;
    border-radius: 5px;
}

.estemos-en-contacto button {
    background: var(--primario);
    color: white;
    border: none;
    font-family: var(--bold);
    font-size: 16px;
    text-align: center;
}

.formulario .form-group::placeholder,textarea::placeholder{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    color: var(--texto);
    opacity: 1;
}

@media(max-width: 1200px){
    .formulario input, .formulario textarea, .formulario select{
        width: 100%!important;
    }

    .formulario button{
        width: 100%!important;
    }
}